---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Showcase from '../components/Showcase.astro';
import HowItWorks from '../components/HowItWorks.astro';
import UseCases from '../components/UseCases.astro';
import Testimonials from '../components/Testimonials.astro';
import Performance from '../components/Performance.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="GirokIQ - The Infinite Canvas for Deep Thinking">
	<Navbar />
	<main>
		<Hero />
		<Features />
		<Showcase />
		<HowItWorks />
		<UseCases />
		<Testimonials />
		<Performance />
		<Pricing />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
